<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h1 style="text-align: center; color: blue;">Wellcome to coding hub</h1>
    <h2 style="text-align: center; color:brown">way to better future</h2>
    <div style="text-align: center;">
    <button [routerLink]="'/course'" class="btn btn-primary">Course</button>
    <button [routerLink]="'/details'" class="btn btn-primary" style="margin-left: 10px;">Course-Details</button>
    </div>
</body>
</html>
