<div style="width:100%">
    <h1>uppercase</h1>
    <b>{{title|uppercase}}</b><br/>
    <h1>Lowercase pipe</h1>
    <b>{{title|lowercase}}</b><br/>
    <h1>Currency Pipe</h1>
    <b>{{6589.23|currency:"USD"}}</b><br/>
    <b>{{6589.23|currency:"USD":true}}</b>
    <h1>Date pipe</h1>
    <b>{{todaydate | date:'dd/M/y'}}</b><br/>
    <b>{{todaydate | date:'shortTime'}}</b>
    <h1>Decimal pipe</h1>
    <b>{{454.78787814|number:'3.5-5'}}</b>
</div>
<div style="width: 40%;float: left;border: solid 1px black;">
    <h1>Json pipe</h1>
    <b>{{jsonval|json}}</b>
    <h1>Percent pipe</h1>
    <b>{{00.54565|percent}}</b>
    <h1>Slice pipe</h1>
    <b>{{months|slice:1:6}}</b><br/>
    <h1>Square : {{11|square}}</h1>
    <h2>cube: {{5|cube}}</h2>
</div>