<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
   <div class="container mt-5">
    <h1 style="color:#0d6efd; text-align:center">Registration form</h1>
    <form #emp="ngForm" (ngSubmit)="postData(emp)">
    <div class="row">
        <div class="col-6">
                <div>
                    <label for="id" class="form-label">id</label>
                    <input type="text" class="form-control" id="id" ngModel name="id" required #eid="ngModel" >
                </div >
                <div>
                    <label for="name" class="form-label">name</label>
                    <input type="text" class="form-control" id="name" ngModel name="name">
                </div>
                <div >
                    <label for="dept" class="form-label">dept</label>
                    <input type="text" class="form-control" id="dept" ngModel name="dept" #email="ngModel"  >
                </div>           
                <div>
                    <label for="mobile" class="form-label">mobile</label>
                    <input type="tel" class="form-control" id="mobile" ngModel name="mobile">
                </div>
                <div>
                    <label for="salary" class="form-label">salary</label>
                    <input type="number" class="form-control" id="salary" ngModel name="salary">
                </div>
            <div class="col-12 mt-5">
            <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
    </div>
    </div>
    </form>
</div><br/>

<button type="submit" class="btn btn-outline-primary" (click)="getData()">Get Employees</button>
    <div>
        {{emp.value| json}}
    </div>
</body>
</html>


