<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <h1 class="s"> Coding Hub Innovations</h1> -->
  <!--<app-home></app-home> -->
  <!--<div class="app-contact"> </div> -->
  <!--<div app-careers></div> -->
  <!-- <app-s-interpolation></app-s-interpolation> -->
  <!-- <app-p-binding></app-p-binding> -->
  <!--<app-e-binding></app-e-binding> -->
  <!--<app-two-way-binding></app-two-way-binding>-->
  <!-- <app-c-binding></app-c-binding> -->
  <!-- <app-cls-binding></app-cls-binding> -->
  <!-- <app-if-directive></app-if-directive> -->
  <!-- <app-switch-directive></app-switch-directive> -->
  <!-- <app-for></app-for> -->
  <!-- <app-parent></app-parent> -->
   <router-outlet></router-outlet>
</body>
</html>